
.navbar-brand{
    color: rgb(161, 152, 152) !important;
}

.navbar-nav .nav-link {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-weight: bold;
  }
  .nav-link:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
  }
  .navbar-nav li{
    padding: 20px;
  }

  .Typewriter__wrapper {
    font-size: 3.2em !important;
    color: #dbc6e4 !important;
    font-weight: 600 !important;
  }
  .Typewriter__cursor {
    font-size: 3.4em !important;
    color: #cdbed3 !important;
  }
  
  @media (max-width: 767px) {
    .Typewriter__wrapper {
      font-size: 2.4em !important;
      font-weight: 500 !important;
      position: absolute !important;
    }
    .Typewriter__cursor {
      display: none !important;
    }
  }